body{
  font-family: lato, sans-serif;  
  font-weight: bold;
}

h1{
	font-family: Brushstroke,fantasy;
	text-align: center;
	margin-bottom: 20px;
}

.container{
	background-color: grey;
	position: relative;
	border: 2px solid black;
	margin: 5px;
	padding: 15px;
}

p{
	margin-top: 20px;
	font-size: 100%;
}

#Chicken,#Beef,#Sushi{
	position: absolute;
	padding: 5px;
	border-left: 2px solid black;
	border-bottom:  2px solid black;
	top: 0px;
	right: 0px;
}

#Chicken{
	background-color: pink;
}
#Beef{
	background-color: green;
	color: white;
}
#Sushi{
	background-color: lightblue;
}
/*------ Desktop ------*/
@media (min-width: 992px){
  .col-lg-4 {
    width: 33.33%;
    float: left; 
  }
}

/*------ Tablet ------*/
@media (min-width: 768px) and (max-width: 991px){
  .col-lg-4 {
    width: 50%;
    float: left;
  }
  .col-md-6{
   width: 100%;
   float: left;
 }
}

/*------ Mobile ------*/
@media (max-width: 767px){
  .col-lg-4{
    width: 100%;
    float: left;
  }
}